/* _content/MasterArtsWeb/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-y0m904b2ck] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-y0m904b2ck] {
    color: #0077cc;
}


.btn-primary[b-y0m904b2ck] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-y0m904b2ck], .nav-pills .show > .nav-link[b-y0m904b2ck] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-y0m904b2ck] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-y0m904b2ck] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-y0m904b2ck] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-y0m904b2ck] {
    font-size: 1rem;
    line-height: inherit;
}



.p-mail a[b-y0m904b2ck] {
    text-decoration: none; /* Ta bort understrykningen från länken */
    color: inherit; /* Behåll färgen från förälderelementet */
    font-size: 16px
}

.fa-instagram[b-y0m904b2ck] {
    padding: 30px;
    transition: color 0.3s ease; /* Gör övergång mjuk över 0.3 sekunder */
}


.fa-linkedin[b-y0m904b2ck] {
    
    transition: color 0.3s ease;
    padding:30px;
}

.fa-facebook-f[b-y0m904b2ck] {
    padding: 30px;
    transition: color 0.3s ease;
}

.fa-linkedin:hover[b-y0m904b2ck] {
    color: pink;
}

.fa-facebook-f:hover[b-y0m904b2ck] {
    color: pink;
}

.fa-github:hover[b-y0m904b2ck] {
    color: pink;
}







.mr-arts-2[b-y0m904b2ck] {
    background-image: url('/images/joel.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}


