﻿

@import url('site.css');

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    overflow-x: hidden;
    background-color:aliceblue;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.honeypot {
    position: absolute;
    left: -5000px;
    top: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.fot {
    display: flex;
    gap: 50px;
    margin-left: auto;
}



.dark-transparent-bg {
    background-color: rgba(0, 0, 0, 0.5); /* Svart med 50% genomskinlighet */
    border-bottom: solid 3px white; /* Behåller din befintliga stil för gränsen */
}



header {
    position: fixed;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); /* Svart med 50% genomskinlighet */
    height: 140px;
    width: 100%;
    background-size: cover; /* Gör så att bilden täcker hela bredden (och eventuellt höjden) */
    background-position: center; /* Centrerar bilden så viktiga delar inte klipps bort */
    background-repeat: no-repeat; /* Hindrar att bilden upprepas */
}

    
.kalle {
    position: relative;
    background-image: url('/images/297806d1-9b20-4b4a-b1ee-72045cc0b297.webp');
    height: 1100px;
    width: 100%;
    background-size: cover; /* Gör så att bilden täcker hela bredden (och eventuellt höjden) */
    background-position: center; /* Centrerar bilden så viktiga delar inte klipps bort */
    background-repeat: no-repeat; /* hindrar att bilden upprepas */


    border-radius: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #5D3B66;
}



.kek {
    background: red;
    color: #fff
}


.info-text {
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
}





.image-container {
    margin-bottom: 20px;
}

    .image-container img {
        max-width: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.image-container-3 img {
    width: 600px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card a.card-link {
    color: inherit; /* Använd den ärftliga textfärgen */
    text-decoration: none; /* Ta bort understrykningen */
}



.kajsa-2 {
    display: none;
}









.services {
    display: none;
}




.contact {
    margin-top: 100px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    position: relative;
    /* Lägg till detta för att positionera pseudo-elementet korrekt */
}

    .contact::after {
        content: ''; /* Nödvändigt för att visa pseudo-elementet */
        display: block;
        margin: 0 auto; /* Centrerar border i mitten */
        height: 2px; /* Höjden på din border */
        width: 50%; /* Justera denna procentandel för att ändra längden på din border */
        background: #333; /* Färgen på din border */
        position: absolute; /* Gör så att du kan positionera den exakt var du vill */
        bottom: -10px;
        /* Justera detta värde för att flytta border uppåt eller nedåt */
    }







.about-2 {
    display: none
}







.row {
    display: flex;
    justify-content: center
}

#language-switch {
    display: flex;
    justify-content: end;
}

#totop-arrow {
    background-color: lightblue;
    position: fixed;
    right: 50px;
    bottom: 200px;
    font-size: 1.5rem;
    padding: 5px 16px;
    border-radius: 100%;
    transition: background-color 0.25s, color 0.15s;
    z-index: 1;
}















.mysan {
    max-width: 1000px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
    color: #333;
}

.end-icon {
    font-size: 4em;
    margin: 8px;
    transition: color 0.5s; /* Adding transition for a smooth color change */
}



.service-info {
    margin-top: 30px;
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    padding: 50px;
    max-width: 100%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}





.logo-text {
    font-size: 24px;
    color: white;
}

.navbar-nav {
    color: black;
}

.bottom-icons-container {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


h1 {
    font-size: clamp(3rem, 15vmin, 8rem);
    font-family: sans-serif;
    color: hsl(0 0% 98%);
}


.nav-item {
    margin: 0 33px;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.5s ease;
}






.fade-message {
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 2em
}

    .fade-message.show {
        opacity: 1;
    }

.customer-text {
    margin: auto;
    color: white; /* Mörk textfärg */
    font-size: 1.5em;
}

    .customer-text:hover {
        color: white;
        text-decoration: underline; /* Lägg till understreck vid hover */
        transition: 0.5s;
    }

.icon-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ändrat till rad */
    /* Lägg till en maxbredd efter behov */
}



.kek {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
}



.a-margin {
    margin-left: 200px;
}


.contact-info {
    font-size: 1.5em;
    color: #FFF; /* Ändra färgen efter behov */
    margin-bottom: 15px; /* Justera nedre marginalen efter behov */
}



.slogan {
    font-size: 2em;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.highlight {
    color: pink; /* eller vilken färg du föredrar */
    font-weight: bold;
}


.deal {
    color: #fff;
}

.deal-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px
}

.deal-3 {
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px
}

.deal-4 {
    margin-top: 80px;
    gap: 50px
}

.a {
    display: flex;
    margin-top: 200px;
    background-color: #000;
    /* Svart genomskinlig bakgrundsfärg */
    color: white;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 33px;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    white-space: nowrap;
    z-index: 0; /* Adjusted z-index */
    padding: 100px
}

.b {
    display: flex;
    margin-top: 660px;
    /* Svart genomskinlig bakgrundsfärg */
    color: white;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    gap: 33px;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    white-space: nowrap;
    z-index: 0; /* Adjusted z-index */
    padding: 100px
}

.btn-primary {
    z-index: 1; /* Buttons should have a higher z-index than the background image */
}

.mr-btn {
    padding: 30px;
    z-index: 1;
    border-radius: 10px;
    z-index: 1
}

    .mr-btn:hover {
        transition: 0.5s;
        font-size: 18px;
        z-index: 1
    }


.input-fields {
    width: 45%;
}








#myCalc header {
    height: 400px;
    background: black;
}






.form-input, .form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.form-submit {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.results-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    color: #333;
}

.results-heading {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Färg för rubrik */
    margin-bottom: 10px;
}

.result {
    font-size: 18px;
    color: #333; /* Färg för resultattext */
    margin-bottom: 8px;
    margin-bottom: 40px;
}


.adjusted-anchor {
    padding-top: 150px;
    margin-top: -100px;
}

.adjusted-anchor-2 {
    padding-top: 200px;
    margin-top: -100px;
}






.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.text-container {
    margin-right: 40px
}




#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 80pt;
    text-align: center;
    user-select: none;
}

.section {
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    padding: 40px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
}

@media (max-width: 768px) {
    .section {
        flex-direction: column; /* Ändra layout till kolumn för att stapla element vertikalt */
        padding: 20px; /* Justera padding för mindre skärmar om nödvändigt */
    }
}

.section img {
    max-width: 200px; /* Adjust the max-width of the image */
    border-radius: 8px;
    margin-right: 20px;
}

.contact-section {
    display: flex;
    flex-wrap: wrap; /* Lägg till wrap för att hantera mindre skärmar */
    justify-content: center;
    align-items: center;
    /* Justera padding för mindre skärmar */

    background-color: #e6f7ec;
}

.contact-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .contact-btn:hover {
        transition: 0.5s;
        background-color: #ff66b2;
        color: #fff
    }

.text-container-2 {
}










.order-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#trackingCode {
    border: 2px solid #007bff; /* Matchar Bootstrap's primära färg */
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

/* Stil för 'Track'-knappen */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    line-height: 1.5;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.form-section h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}



input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }



















.read-more-btn {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Lägg till för att avlägsna standard länkstil */
    margin-top: 7px
}

    .read-more-btn:hover {
        transition: 0.5s;
        background-color: #333;
        color: #fff
    }

.arts-text {
    font-family: 'Times New Roman', Garamond, serif;
    font-size: 4em
}

.mr-arts {
    background-image: url('/images/joel.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.logo-container img {
    margin-top: 30px;
    width: 100px; /* Anpassa bredden efter ditt behov */
    height: auto; /* Autojustering av höjden för att behålla proportionerna */
    background-color: black
}



.jul {
    margin-top: 50px;
    font-size: 3em;
    font-family: bold
}


.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #333 0%, #333 29%, #000 67%, #000 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 100px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.problem {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.team {
    display: none
}

.tyst {
    font-size: 4em;
    margin-top: 100px
}

.index-container-2 {
    margin-top: 1200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 10px;
    position: absolute;
    left: 0;
    padding: 100px;
}

.card-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 400px; /* Bredden på ditt kort */
    height: 200px; /* Höjden på ditt kort */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #E8E8E8;
    box-shadow: rgba(0, 0, 0, 0.6);
}







.kajsa {
    display: flex;
    justify-content: center;
    align-items: center;
}



.index-text {
}

.index-text-2 {
}

.you-text {
    font-family: 'Cursive', Elephant;
}

.l-btn {
    background-color: pink; /* Vit bakgrundsfärg */
    color: black; /* Svart textfärg */
    border-radius: 10px;
    transition: background-color 0.25s, color 0.15s;
    margin-top: 10px
}


    .l-btn:hover {
        background-color: #333; /* Ändra till svart bakgrundsfärg vid hover */
        color: #ffffff; /* Ändra till vit textfärg vid hover */
    }

.mr-h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
    margin-left: 85px
}


.custom-container {
    margin-left: auto;
}

    .custom-container a {
        color: white;
    }

.s-1 {
    margin-bottom: 100px
}

.moby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin-top: 140px;
    justify-content: center;
}

.footer-section {
    margin-left: 50px;
}

.form-section-container {
    display: flex;
}

.form-section {
    flex: 1;
    margin-right: 10px; /* Justera efter behov */
}

.inner-wrap {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#ship .shipment {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em
}

#ship {
    background-color: aliceblue;
}



.fot {
    display: flex;
    gap: 50px;
    margin-left: auto;
    
}

.asdf {
    width: 100%;
    margin-top: 200px;
    padding: 50px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5); /* Skugga */
    backdrop-filter: blur(4px); /* Frostat glas-effekt */
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(to right, #f0f0f0 0%, #d9d9d9 50%, #bbbbbb 100%);
}

.container-abbe {
    margin-left: 1px;
    background-color: #333333;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    max-width: 800px;
}

.fot-5 {
    display: none
}

#bod .about-2 {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em
}

.mobil {
    display: none
}

.ban {
    margin-left: 100px
}

@media screen and (max-width: 768px) {
    .contact {
        margin-top: 10px;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
    }

    .ban {
        margin-left: 5px;
    }

    .index-lang {
        z-index: 1;
        margin-bottom: 50px;
        margin-right: 5px;
    }

    .adjusted-mobil {
        margin-top: 100px
    }

    .l-btn {
        margin-top: 100px
    }

    .card {
        height: 150px;
        width: 100px;
    }

    .service-info {
        margin-top: 30px;
        background-color: #2c3e50;
        padding: 50px;
        width: 400px;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }


    .adjusted-anchor {
        padding-top: 15px;
    }

    .adjusted-anchor-2 {
        padding-top: 15px;
    }

    .asdf {
        width: 400px;
        height: 1100px;
        padding: 50px;
        
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .table-responsive {
        font-size: 14px;
    }

    .table th, .table td {
        padding: 10px;
    }



    h3 {
        font-size: 20px;
    }

    .cta-button {
        display: inline-block;
        margin: 5px;
        padding: 6px 12px;
        background-color: #b8d8f5; /* Subtil blå färg för knapparna */
        color: #2c3e50; /* Mörkblå text för kontrast */
        text-decoration: none;
        border-radius: 25px;
        transition: all 0.3s ease;
    }

    .fot {
        display: none
    }

    .fot-5 {
        display: block;
        margin-left: 50px
    }

    .larger-text-5 {
        font-family: 'Helvetica', sans-serif; /* Teckensnitt */
        font-size: 2em; /* Storlek på teckensnittet */
        font-weight: bold; /* Fetstil */
        text-align: center; /* Justering av text */
        text-transform: uppercase; /* Gör texten till versaler */
        margin-bottom: 20px;
    }

    .background-image-container {
        display: none
    }

    .navbar-collapse.collapse {
        background-color: rgba(0, 0, 0, 0.5); /* Ljussvart med viss transparens */
    }

    .team {
        display: block
    }

    .gos {
        display: none
    }

    .game {
        display: none
    }

    .s-lol {
        display: none;
    }

    .navbar-nav .nav-link .customer-text {
        font-size: 16px; /* Ange önskad storlek */
    }



    .form-style-10 {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 80px;
    }


    .mr-arts-2 {
        display: block;
        background-image: url('/images/joel.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
    }




    .card-title {
        font-size: 14px
    }

    .word {
        margin-top: 100px;
        margin-left: 20px
    }

    .about-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 30px;
        margin-top: 12px
    }

    .text-container {
        margin-left: 30px;
        margin-bottom: 50px
    }

    .kajsa {
        display: none
    }

    .kajsa-2 {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #myContact .deal-2 {
        margin-left: 1px
    }

    .footer-section {
        margin-left: 1px;
        font-size: 1em
    }

    .card-text {
        display: none
    }



    .end-icon {
        font-size: 1em;
        margin: 8px;
        transition: color 0.5s; /* Adding transition for a smooth color change */
        color: #fff
    }

    .a {
        display: none;
    }

    .b {
        display: none;
    }

    .s-1 {
        display: none
    }

    .e {
        display: grid;
        grid-template-rows: 1fr;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.8); /* Svart genomskinlig bakgrundsfärg */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        gap: 70px;
    }

    .animate-charcter {
        display: none;
        margin-bottom: 10px; /* Du kan justera detta värde för att flytta border-bottom nedåt */
        margin-top: 10px;
    }


    .fren {
        background-image: url('/images/fren.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
    }



    .contact-info {
        font-size: 1em; /* Mindre textstorlek för mindre skärmar */
        margin-bottom: 10px;
    }



    .login {
        margin-left: 0px
    }

    .content h2 {
        margin-left: 220px;
        color: #fff;
        font-size: 2em;
        position: absolute;
        transform: translate(-50%, -50%);
    }




    .index-container-2 {
        display: none
    }

    .you-text {
        display: none;
    }

    .larger-text-3 {
        font-size: 1.5em
    }

    .p-mail {
        font-size: 1em;
    }

    .s-2 {
        display: block
    }


    header {
        display: block;
        position: relative;
        overflow: hidden;
        background-image: url('/images/297806d1-9b20-4b4a-b1ee-72045cc0b297.webp');
        background-size: cover; /* Ser till att bilden täcker hela elementet */
        background-position: center; /* Centrerar bilden i elementet */
        height: 500px;
    }

    .kalle {
        height: 1px;
        background: pink;
        margin-bottom: 500px
    }

    .moby {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    video {
        display: none;
    }

    .kite {
        font-size: 16px;
    }

    .kite {
        font-size: 18px;
        color: white;
    }



    .mr-arts-2 {
        display: none
    }

    .image-container-3 img {
        width: 400px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .content h2 {
        margin-top: 200px;
        color: #fff;
        font-size: 1em;
        position: absolute;
        transform: translate(-50%, -50%);
        margin-left: 400px;
    }

    .weather-info {
        display: none
    }

    .temperature {
        display: none
    }

    .description {
        display: none
    }

    .larger-text {
        font-size: 18px; /* Minska textstorleken för mindre skärmar */
        line-height: 1.3; /* Anpassa radhöjden för mindre skärmar */
    }

    .contact-section {
        padding: 20px; /* Anpassa padding för mindre skärmar */
    }

    .valuta-1, .valuta-2 {
        margin: 5px; /* Justera marginal för mindre skärmar */


        margin-top: 20px;
    }

    .valuta-2 {
        order: 2; /* Ändra ordningen för mindre skärmar */
    }

    .text-container-2 {
        text-align: center; /* Justera textcentrering för mindre skärmar */
        max-width: 100%; /* Anpassa maxbredd för mindre skärmar */
        margin-top: 20px;
    }


    .circle-container {
        display: grid;
        grid-template-columns: 1fr
    }

    .about-section-5 {
        display: grid;
        grid-template-columns: 1fr
    }



    .about-section-2 {
        display: flex;
        flex-direction: column;
    }

    .text-container-2 {
        order: 2;
        width: 300px
    }

    .image-container-3 {
        order: 1;
        margin-bottom: 15px;
    }

    .deal-2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .deal {
        margin-top: 30px;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .section img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }


    .about-section-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .circle-container {
        margin: 10px 0; /* Adjusts spacing for vertical layout */
    }
}


.about-section-2 {
    flex-direction: column;
    text-align: center;
}

.text-container-2, .image-container-3 {
    flex: 1 1 100%;
}

.image-container-3 {
    margin: 20px 0; /* Add some space when stacked on small screens */
}



@media screen and (max-width: 400px) {
    .content h2 {
        margin-top: 200px;
        color: #fff;
        font-size: 1em;
        position: absolute;
        transform: translate(-50%, -50%);
        margin-left: 500px;
    }
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 35px;
}

.p-mail a {
    text-decoration: none; /* Ta bort understrykningen från länken */
    color: inherit; /* Behåll färgen från förälderelementet */
    font-size: 16px
}

.fa-github {
    color: #ff66b2; /* Grundfärg */
    transition: color 0.3s ease; /* Gör övergång mjuk över 0.3 sekunder */
}




.fa-facebook-f:hover {
    color: pink;
}

.fa-github:hover {
    color: pink;
}

.kite {
    font-size: 18px;
    color: white;
}




.mr-arts-2 {
    background-image: url('/images/joel.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}











@media screen and (min-width: 2400px) {


    .kalle {
        position: relative;
        background-image: url('/images/297806d1-9b20-4b4a-b1ee-72045cc0b297.webp');
        height: 1400px;
        width: 100%;
        background-size: cover; /* Gör så att bilden täcker hela bredden (och eventuellt höjden) */
        background-position: center; /* Centrerar bilden så viktiga delar inte klipps bort */
        background-repeat: no-repeat; /* hindrar att bilden upprepas */
    }

    .qop-4 {
        margin: 20px auto;
        padding: 20px;
        max-width: 100%; /* Anpassar bredden */
        background-image: url('/images/123.webp');
        background-size: 200% 200%;
        animation: GradientShift 10s ease infinite;
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        color: #5D3B66;
        height: 800px
    }
}

@media screen and (max-width: 2000px) {
    .about-section-2 {
        display: grid;
        grid-template-columns: 1fr
    }



    .about-section {
        display: grid;
        grid-template-columns: 1fr
    }
}







.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
    transition: background 0.3s;
}


    input[type="text"]:focus,
    input[type="password"]:focus,
    select:focus {
        background: rgba(255, 255, 255, 1);
    }



.btn-primary:hover {
    background-color: #0056b3;
}

.text-danger {
    color: #dc3545;
}









.btn-large {
    background-color: #ffcccc; /* Ljusrosa */
    color: #333; /* Vit text */

    padding: 20px 40px; /* Storlek på knappen */
    border-radius: 10px; /* Rundade hörn */
    font-size: 22px; /* Storlek på text */

    transition: background-color 0.3s ease; /* Smidig övergång för bakgrundsfärg */
    text-decoration: none;
}

    .btn-large:hover {
        background-color: #ff9999; /* Mörkare rosa vid hover */
    }

.btn-large-2 {
    background-color: #cccccc; /* Ljusrosa */
    color: #333; /* Vit text */

    padding: 20px 40px; /* Storlek på knappen */
    border-radius: 10px; /* Rundade hörn */
    font-size: 22px; /* Storlek på text */

    transition: background-color 0.3s ease; /* Smidig övergång för bakgrundsfärg */
    text-decoration: none;
}

    .btn-large-2:hover {
        background-color: #ff9999; /* Mörkare rosa vid hover */
    }



.about-section-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #333;
    color: #fff;
}

.text-container-2 {
    flex: 1 1 60%; /* Take up 60% of the container, allow for wrapping */
    padding: 20px;
}

.image-container-3 {
    flex: 1 1 35%; /* Take up 35% of the container, allow for wrapping */
    padding: 20px;
}

/* Styling the headings */
.text-container-2 h2 {
    color: #fff; /* Dark blue color */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Styling the paragraphs */
.text-container-2 p {
    color: #fff; /* Dark gray color */
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Ensure the image is responsive and looks good */
.image-container-3 img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: adds rounded corners to the image */
}



.about-section-4 {
    text-align: center; /* Centers the text */
    padding: 20px; /* Adds space inside the section */
}

.about-section-3 h2 {
    color: #333; /* A stronger pink for headings to stand out */
    margin-bottom: 15px; /* Space below the heading */
}

.about-section-3 span {
    display: block; /* Ensures span takes the full width */
    margin-bottom: 20px; /* Space below the span */
    color: #333; /* Darker pink for contrast and readability */
}

/* Styling for the circle containers */




.form-style-10 .form-container-2 {
    padding: 20px;
}

/* Stil för rubriker */


/* Stil för etiketter */


/* Stil för valideringsmeddelanden */
.text-danger {
    color: #d9534f;
    margin-bottom: 15px;
    display: block;
}

/* Stil för knappar och formulärets sändningsknapp */
/* Lägg till denna del om du har en skicka-knapp i ditt formulär */
.form-button {
    background-color: #0056b3; /* Anpassa färgen efter ditt tema */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .form-button:hover {
        background-color: #004494;
    }

.valuta-info h2 {
    color: #333;
    font-size: 24px;
}

.valuta-info p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.valuta-3 p {
    font-size: 14px;
    color: #444;
}

.fa-money-bill {
    margin-right: 5px;
    color: green;
}

.baby {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 1;
    height: 300px;
    width: 500px;
    background: rgba(255, 255, 255, 0.2); /* Lägger till en lätt genomskinlig vit bakgrund */
    border-radius: 10px; /* Runda hörnen lite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till en mjuk skugga runtom för djup */
    backdrop-filter: blur(10px); /* Detta är nyckeln till glasmorfism, det suddar bakgrunden */
    -webkit-backdrop-filter: blur(10px); /* För Safari */
}

.veta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-image-container {
    position: relative;
    z-index: 1;
    background-image: url('/images/aae.webp');
    height: 700px;
    width: 100%;
    background-size: cover; /* Gör så att bilden täcker hela bredden (och eventuellt höjden) */
    background-position: center; /* Centrerar bilden så viktiga delar inte klipps bort */
    background-repeat: no-repeat; /* Förhindrar att bilden upprepas */
}

    .background-image-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Svart med 50% opacitet */
        z-index: -1; /* Ser till att överlägget ligger ovanför bakgrundsbilden men under innehållet */
    }


.centered-text {
    /* Stil för din centralt placerade text */
    position: absolute; /* Använd denna om flex inte är tillräckligt för ditt specifika fall */
    z-index: 2; /* Se till att den ligger över andra element */
    color: white; /* Exempel på textfärg */
    font-size: 24px; /* Exempel på textstorlek */
    margin-top: 900px;
    background: rgba(255, 255, 255, 0.2); /* Lägger till en lätt genomskinlig vit bakgrund */
    border-radius: 10px; /* Runda hörnen lite */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Lägger till en mjuk skugga runtom för djup */
    backdrop-filter: blur(10px); /* Detta är nyckeln till glasmorfism, det suddar bakgrunden */
    -webkit-backdrop-filter: blur(10px); /* För Safari */
    height: 100px;
    width: 600px;
}

.mpm {
    margin-top: 40px;
    font-size: 24px; /* Ställer in storleken på texten */

    color: #ccc;
    font-family: Arial, sans-serif; /* Anger typsnitt */
}

.container {
    max-width: 1400px;
}


/* Baslayout och typografi */
.qop-4 {
    margin: 20px auto;
    padding: 20px;
    max-width: 100%; /* Anpassar bredden */
    background-image: url('/images/123.webp');
    background-size: 200% 200%;
    animation: GradientShift 10s ease infinite;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #5D3B66;
    height: 400px
}

.ert {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    text-align: center;
    padding: 24px;
    border-radius: 10px;
    line-height: 1.5;
}

.qop-3 h2 {
    color: #5D3B66; /* Mörkare rosa för kontrast */
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px #f6d6e9;
}

.qop-3 p, .qop-3 span {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    color: #5D3B66
}

/* Animerad gradientbakgrund */
@keyframes GradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Responsiv design */
@media (max-width: 768px) {
    .qop-4 {
        padding: 15px;
        font-size: 0.9rem;
    }

    .qop-3 h2 {
        font-size: 2rem;
    }
}

.card {
    height: 170px;
    width: 130px;
    border-radius: 15px; /* Rundade hörn */
    margin: 7px 0; /* Avstånd mellan korten */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5); /* Skugga */
    backdrop-filter: blur(4px); /* Frostat glas-effekt */
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    color: #ffffff; /* Vit textfärg */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Lägg till transition för mjukare effekt */
}

    .card:hover {
        transform: scale(1.05); /* Gör kortet lite större */
        box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.7); /* Mörkare/längre skugga */
    }



@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.card {
    width: 18rem;
    margin: 10px;
    /* Ger korten en semi-transparent bakgrund */
    margin: 10px; /* Ger utrymme runt korten */
    border-radius: 10px; /* Rundade hörn på korten */
    /* Lägger till en subtil skugga för djup */
}

.card-icon {
    font-size: 48px; /* Justerar storleken på ikonen */
    color: #333;
    /* Ger ikonen en färg som matchar en av gradientfärgerna */
}

.card-title, .card-text {
    color: #333; /* Mörk textfärg för läsbarhet mot den ljusare kortbakgrunden */
}
/* Bakgrund och formulär container styling */
.form-container-2 {
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    /* En mjuk gradient från lila till en djupare lila */
    padding: 40px;
    border-radius: 12px; /* Rundade hörn */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Lägg till en subtil skugga för djup */
    max-width: 600px; /* Maxbredd för formuläret */
    margin: 40px auto; /* Centrera och ge lite utrymme ovanför och under */
    color: #333; /* Vit textfärg för kontrast mot den mörka bakgrunden */
}

    /* Formulärtitel */
    .form-container-2 h3 {
        margin-bottom: 20px; /* Ger utrymme under rubriken */
        text-align: center; /* Centrerar texten */
        font-weight: bold;
    }

/* Formulärfält styling */
.form-control {
    background-color: #FFFFFF; /* Vit bakgrundsfärg för inputfält */
    border: 1px solid #DDD; /* Subtil grå kant */
    border-radius: 8px; /* Rundade hörn på fälten */
    padding: 10px 15px; /* Padding för att göra fältet större och lättare att interagera med */
    margin-bottom: 15px; /* Ger utrymme mellan varje fält */
    width: 100%; /* Får fälten att expandera och fylla containerbredden */
    box-sizing: border-box; /* Ser till att padding och border inte lägger till extra bredd */
}

/* Felmeddelande styling */
.text-danger {
    color: #FF3860; /* En stark röd färg för att indikera fel */
}

/* Förbättra tillgängligheten och visuell feedback */


.form-container-2 label {
    color: #333
}
/* Anpassa knappar och länkar inom formuläret */

.form {
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    color: #ffffff; /* Vit textfärg */
}

.customer-number {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern typsnitt */
    color: #4A90E2; /* Ljusblå textfärg för att stå ut */
    background-color: #f0f4f8; /* Ljus bakgrund för att lyfta fram texten */
    padding: 10px 15px; /* Padding för att skapa utrymme runt texten */
    border-radius: 5px; /* Rundade hörn för en mjukare look */
    border: 1px solid #d1dce5; /* Ljus grå kant för att definiera området */
    display: inline-block; /* Gör att bakgrunden bara omsluter texten */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Lägger till en subtil skugga för djup */
    margin: 10px 0; /* Ger lite utrymme ovan och under */
    font-size: 18px; /* Större textstorlek för att göra numret mer läsbart */
    font-weight: bold; /* Gör texten fet för att den ska sticka ut mer */
    text-shadow: 1px 1px 0px #ffffff; /* Lägger till en subtil textskugga för djup */
}

    /* Hovereffekt */
    .customer-number:hover {
        color: #ffffff; /* Vit text på hover */
        background-color: #4A90E2; /* Mörkare blå bakgrund på hover */
        border-color: #4A90E2; /* Mörkare blå kant för att matcha bakgrunden */
        cursor: pointer; /* Ändrar muspekaren för att indikera klickbarhet */
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15); /* Starkare skugga för hovereffekt */
    }

.nav-link {
    color: white;
}

.ml-auto {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}


.container-abbe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.header-s {
    font-size: 2em;
    margin-bottom: 10px;
}

.benefits {
    font-size: 1.2em;
    margin-bottom: 15px;
    opacity: 0.85;
}

.info-text {
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #b8d8f5; /* Subtil blå färg för knapparna */
    color: #2c3e50; /* Mörkblå text för kontrast */
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
}

    .cta-button:hover {
        background-color: #2c3e50;
        color: #ffffff;
        box-shadow: 0 2px 15px rgba(0,0,0,0.15);
    }

.fot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #2c3e50; /* Mörkblå bakgrund för foten */
    color: white;
}

.fot-1 {
    margin: 20px;
    min-width: 180px;
}

    .fot-1 p, .fot-1 a {
        color: white; /* Vit text för läsbarhet */
        margin: 10px 0;
        text-decoration: none;
    }

.kite {
    transition: color 0.3s ease;
}

    .kite:hover, .fot-1 p:hover {
        color: #f5c7b8; /* Ljusare färg vid hover */
    }

.fot-1 span, .fot-1 p {
    font-weight: bold;
}

.fot-5 {
    width: 100%;
    text-align: center;
    border-top: 1px solid #4a6fa1; /* Ljusblå linje som separator */
    padding-top: 20px;
    margin-top: 20px;
}

.mr-arts-2 {
    display: none; /* Döljer denna om den inte används */
}

/* Responsivitet */
@media (max-width: 768px) {
    .fot {
        flex-direction: column;
        align-items: center;
    }

    .fot-1 {
        margin: 10px 0;
        text-align: center;
    }
}
/* Döljer mobil-specifikt innehåll på desktop */
.desktop-only {
    display: none;
}

/* Media query för skärmar större än 768px (exempelvis för tablets och desktops) */
@media (min-width: 769px) {
    .desktop-only {
        display: block; /* Visa desktop-specifikt innehåll */
    }

    .mobile-only {
        display: none; /* Dölj mobil-specifikt innehåll */
    }
}

/* Alternativt kan du ha en specifik query för mobil och använda "max-width" */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .card-icon {
        font-size: 48px; /* Justerar storleken på ikonen */
        color: #333;
        margin-top: 25px
        /* Ger ikonen en färg som matchar en av gradientfärgerna */
    }
}
/* Calculator Container Styles */
.calculator-container {
    max-width: 850px;
    margin: 70px auto;
    padding: 20px;
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

    /* Form and Selection Styles */
    .calculator-container form {
        display: flex;
        flex-direction: column;
    }

#density-selection {
    margin-bottom: 20px;
}

    #density-selection label {
        font-weight: bold;
        margin-right: 10px;
    }

    #density-selection select {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: white;
    }

/* Items Container Style */
#items-container {
    margin-bottom: 20px;
}

/* Button Styles */
.calculator-container .btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

    .calculator-container .btn-secondary:hover {
        background-color: #5a6268;
    }

/* Results Container Styles */
.results-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

    .results-container p {
        margin: 10px 0;
        font-size: 16px;
        color: #333;
    }

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Skapar utrymme mellan knapparna */
}


/* Responsive adjustments */
.master-qop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.master-qop-1 {
    max-width: 100%; /* Anpassar bredden */
    background-image: url('/images/123.webp');
    background-size: 200% 200%;
    animation: GradientShift 10s ease infinite;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #5D3B66;
}

.qop-2 {
    max-width: 1200px; /* Limit max width for large screens */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Add some shadow for depth */
    overflow: hidden; /* Ensures no overflow */
    border-radius: 8px; /* Rounded corners */
}

.qop-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-with-image-overlay {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

    .text-with-image-overlay img {
        width: 100%;
        height: auto;
        border-bottom: 2px solid #f0f0f0; /* Adds a slight separation */
    }

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6); /* Darker overlay for better visibility */
    color: #fff; /* White text color */
    padding: 20px;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for readability */
}

    .content ul {
        list-style-type: none;
        padding: 0;
    }

    .content li {
        margin-bottom: 10px; /* Space out list items */
        font-size: 16px; /* Adjust font size */
    }

.krigaren {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.left-side {
    flex: 1; /* Tar upp halva bredden */
    background-image: url('/images/svart.webp'); /* Ersätt 'path_to_your_image.jpg' med sökvägen till din bild */
    background-size: cover;
    color: #fff; /* Vit text för läsbarhet mot en mörk bakgrund */
    padding: 20px;
}

.right-side {
    flex: 1; /* Tar upp halva bredden */
    padding: 20px;
    background: linear-gradient(to right, #eeeeee 0%, #cccccc 100%);
}

/* Stilar för text och länkar här */
.info-text a {
    color: #fff; /* Justera detta efter din design */
}

/* Lägg till ytterligare stilar för formuläret och kontaktinformationen enligt dina önskemål */



@media (max-width: 768px) {
    .krigaren {
        display: grid;
        grid-template-columns: 1fr;
    }

    .deal-4 {
        margin-top: 10px;
    }
}

.deal-image {
    background-image: url('/images/svart.webp');
    background-size: cover;
    background-position: center;
}

.deal-content, .deal-form {
    padding: 20px;
}

.shipping-cost-calculator {
    text-align: center;
    margin-top: 30px;
}

.calculator-title {
    color: #333;
    margin-bottom: 20px;
}

.totals-title {
    margin-top: 20px;
    color: #555;
}

.totals-list {
    list-style-type: none;
    padding: 0;
}

.total-item {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.api-response-message {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: block; /* Make checkbox take its own line */
    margin: 0 auto; /* Center checkbox horizontally */
    transform: scale(1.5); /* Scale checkbox to 150% of its original size */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    -moz-transform: scale(1.5); /* Firefox */
    -ms-transform: scale(1.5); /* IE 9 */
    -o-transform: scale(1.5); /* Opera */
}

.imo {
    margin-top: 20px;
    margin-bottom: 20px
}
/* Visa hamburgermeny-togglen och göm den fullständiga menyn på skärmar upp till 900px */

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top-color: #09f; /* Ändrad från left till top för synlighet */
    background-image: linear-gradient(to bottom, #09f, #f06); /* Lägger till en subtil gradient */
    animation: spin 1s ease infinite, pulse 2s infinite alternate;
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.5); /* Lägger till en lysande skugga */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 153, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 20px rgba(0, 153, 255, 1);
    }
}

.page-title {
    font-size: 2em; /* Storlek på texten */
    color: #4A90E2; /* Färg på texten */
    text-align: center; /* Centrerar texten */
    margin-top: 20px; /* Avstånd till toppen */
    margin-bottom: 20px; /* Avstånd till innehållet nedanför */
    font-family: 'Arial', sans-serif; /* Typsnitt */
    text-transform: uppercase; /* Gör all text till versaler */
    letter-spacing: 0.05em; /* Lägger till lite mellanrum mellan bokstäverna */
    border-bottom: 2px solid #4A90E2; /* En linje under texten för extra stil */
    display: inline-block; /* Gör att border-bottom endast tar upp så mycket plats som texten */
    padding-bottom: 5px; /* Lägger till lite utrymme mellan texten och linjen */
}

.sleep {
    display: flex;
    justify-content: center;
    align-items: center
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #333;
}

.form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-info:hover {
        background-color: #138496;
        border-color: #138496;
    }

.mt-3 p {
    font-size: 0.9rem;
    color: #555;
}

.mt-3 a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.index-lang {
    z-index: 1;
    margin-top: 10px;
    margin-right: 100px
}
/* Grundläggande styling för att centrera och ge sidan ett modernt utseende */
.shipping-cost-calculator {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.result-heading, .section-heading {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

/* Styling för total-, rate- och transit-sektionerna */
.totals-section, .rates-section, .transit-details {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.total-item, .rate-item, .transit-item, .agent-item, .emission-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

    /* Specifik styling för att framhäva viktiga detaljer */
    .transit-item strong, .agent-item strong, .emission-item strong {
        color: #495057;
    }

.hej-hop {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}


/* Anpassning för responsiv design */
@media (max-width: 768px) {
    .shipping-cost-calculator {
        padding: 10px;
    }

    .full-width-image img {
        width: 100%;
        height: auto;
    }

    .total-item, .rate-item, .transit-item, .agent-item, .emission-item {
        font-size: 14px;
    }

    .hej-hop {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 50px /* Ändrar layouten till vertikal stapling */
    }
}

.full-width-image img {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #5D3B66;
    height: 500px
}


@keyframes colorFade {
    0% {
        color: #333;
    }

    25% {
        color: skyblue;
    }

    50% {
        color: #333;
    }

    75% {
        color: skyblue;
    }

    100% {
        color: #333;
    }
}

.konstnarlig-text h2 {
    font-size: 2em; /* Större typsnitt för rubriken */
    color: deeppink; /* Startfärg */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Textskugga för djup */
    animation: colorFade 8s infinite; /* Använd nyckelramsanimationen, varar i 8 sekunder och upprepas oändligt */
}


.hej-hop .full-width-image img {
    
   
    width: 400px; 
    max-height: 300px;
    display: block; 
    object-fit: cover; 
}

.hej-hop .full-width-image {
    display: flex; 
    flex-direction: column; 
    align-items: center; /* Centers the child elements horizontally */
    text-align: center; /* Centers the text inside the <p> tag */
    margin-bottom: 20px; /* Adds space between each image container */
}

.hej-hop .full-width-image p {
   margin-top:27px;
   border-bottom:solid 1px black;
}


.incoterms-header {
    display: block; 
    max-width: 1800px;
    margin: 0 auto; 
    text-align: center;
    background-color: #ECEFF1;
    padding: 15px;
    margin-top: 300px;
    color: #607D8B;
   
}

.inco-icons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    margin-top: 20px; 
   

}
.incoterms-list {
   display:grid;
    justify-content: center;
    gap: 30px; 
    margin-top: 50px; 
    margin-right:15px;

}
.icon-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; 
}

    .icon-group p {
        margin-top: 8px;
        position: relative; 
        z-index: 1; 
        font-size:12px;
    }

    .icon-group:not(.no-line):after {
        content: '';
        position: absolute;
        top: 100px;
        left: 50%;
        width: 2px;
        height: 900px;
        background-color: #000;
        transform: translateX(calc(-50% - 3px));
    }

.ino-block {
     
   
   
    color: #607D8B;
    margin-top:15px; 
    width:40px;
    height:40px;
}
.incoterm-row {
    display: flex;
    align-items: center;
    gap: 10px; 
    
}
.small-icon{
    font-size:20px;
    z-index:1;
    color:black;
    background-color:yellow;
}

    .card-icon-2{
        font-size:30px
    }


.ino-field {
    display: flex;
    position: absolute;
    margin-left: 60px;
    width: 1000px; /* Ställ in en lämplig bredd */
    height: 40px; /* Höjd på fältet */
    background-image: linear-gradient(to right, lightgray 10%, pink 10%);
    z-index: 1;
}
.ino-field-2 {
    display: flex;
    position: absolute;
    margin-left: 60px;
    width: 1000px; /* Ställ in en lämplig bredd */
    height: 40px; /* Höjd på fältet */
    background-image: linear-gradient(to right, lightgray 19%, pink 10%);
    z-index: 1;
}
.ino-field-3 {
    display: flex;
    position: absolute;
    margin-left: 60px;
    width: 1000px; /* Ställ in en lämplig bredd */
    height: 40px; /* Höjd på fältet */
    background-image: linear-gradient(to right, lightgray 27.5%, pink 10%);
    z-index: 1;
}
.ino-field-4 {
    display:flex;
    position: absolute;
    margin-left: 60px;
    width: 1000px; /* Ställ in en lämplig bredd */
    height: 40px; /* Höjd på fältet */
    background-image: linear-gradient(to right, lightgray 36.5%, pink 10%);
    z-index: 1;
}
.ino-field-5 {
    display: flex;
    position: absolute;
    margin-left: 60px;
    width: 1000px; /* Ställ in en lämplig bredd */
    height: 40px; /* Höjd på fältet */
    background-image: linear-gradient(to right, lightgray 55.5%, pink 10%);
    z-index: 1;
}
.ino-field-6 {
    display: flex;
    position: absolute;
    margin-left: 60px;
    width: 1000px; /* Ställ in en lämplig bredd */
    height: 40px; /* Höjd på fältet */
    background-image: linear-gradient(to right, lightgray 74.5%, pink 10%);
    z-index: 1;
}
.small-icon-4 {
    margin-left: 217px;
    font-size: 20px;
    z-index: 1;
    color: black;
    background-color: yellow;
}
.small-icon-5 {
    margin-left: 115px;
    font-size: 20px;
    z-index: 1;
    color: black;
    background-color: yellow;
}
.small-icon-6 {
    margin-left:171px;
    font-size: 20px;
    z-index: 1;
    color: black;
    background-color: yellow;
}

.small-icon-3 {
    margin-left: 72px;
    font-size: 20px;
    z-index: 1;
    color: black;
    background-color: yellow;
}
.small-icon-2 {
    margin-left: 42px;
    font-size: 20px;
    z-index: 1;
    color: black;
    background-color: yellow;
}


@media (max-width: 768px) { /* För tabletter */
    .incoterms-header {
        padding: 10px;
        margin-top: 150px; /* Minskad från 300px */
        font-size: 0.8em; /* Mindre text */
    }
    .ino-field {
        position: absolute;
        margin-left: 60px;
        width: 400px; /* Ställ in en lämplig bredd */
        height: 40px; /* Höjd på fältet */
        background-image: linear-gradient(to right, lightgray 10%, pink 10%);
        z-index: 1;
        font-size: 7px;
    }
    .small-icon-4 {
        
        font-size: 8px;
    }

    .ino-field-2 {
        position: absolute;
        margin-left: 60px;
        width: 400px; /* Ställ in en lämplig bredd */
        height: 40px; /* Höjd på fältet */
        background-image: linear-gradient(to right, lightgray 18%, pink 10%);
        z-index: 1;
        font-size:7px;
    }

    .ino-field-3 {
        position: absolute;
        margin-left: 60px;
        width: 400px; /* Ställ in en lämplig bredd */
        height: 40px; /* Höjd på fältet */
        background-image: linear-gradient(to right, lightgray 27.5%, pink 10%);
        z-index: 1;
        font-size: 7px;
    }

    .ino-field-4 {
        position: absolute;
        margin-left: 60px;
        width: 400px; /* Ställ in en lämplig bredd */
        height: 40px; /* Höjd på fältet */
        background-image: linear-gradient(to right, lightgray 36.5%, pink 10%);
        z-index: 1;
        font-size: 7px;
    }
    .inco-icons, .incoterms-list {
        gap: 5px; /* Mindre utrymme mellan element */
        margin-top: 10px;
    }

    .icon-group:not(.no-line):after {
        height: 600px; /* Halvera höjden på strecken */
        top: 40px; /* Justera startpunkt om nödvändigt */
    }

    .card-icon-2 {
        font-size: 12px; /* Mindre ikoner */
    }
    
    .icon-group p {
        font-size: 6px; /* Mindre text */
    }
    
}

@media (max-width: 480px) { /* För mobiltelefoner */
    .incoterms-header {
        padding: 10px;
        margin-top: 150px; /* Minskad från 300px */
        font-size: 0.8em; /* Mindre text */
    }

    .inco-icons, .incoterms-list {
        gap: 4px; /* Mindre utrymme mellan element */
        margin-top: 10px;
    }

    .icon-group:not(.no-line):after {
        height: 350px; /* Halvera höjden på strecken */
        top: 40px; /* Justera startpunkt om nödvändigt */
    }

    .card-icon-2 {
        font-size: 12px; /* Mindre ikoner */
    }

    .icon-group p {
        font-size: 6px; /* Mindre text */
    }
}

    

