@page
@model MasterArtsWeb.Pages.TermsModel
@{
}

<div class="text-center mille">
    <h3 class="contact adjusted-anchor-2" id="contact-id">

        @if (@Model.CurrentLanguage == "sv")
        {
            <span>VILLKOR</span>
        }
        else
        {
            <span>TERMS</span>
        }
    </h3>
</div>
<form method="post" asp-page-handler="ChangeLanguage" id="languageForm">
    <div id="language-switch" class="index-lang">
        <button type="submit" class="l-btn">SWE/ENG</button>
    </div>
</form>

<div class="master-qop" id="nsab-2">
    <div class="section" style="background-color:#2c3e50;color:#fff">
        <img src="/images/brak.webp" alt="Placeholder Image" />
        <div>
            @if (@Model.CurrentLanguage == "sv")
            {

                <h2 style="color:#333">Vi kör under NSAB 2015</h2>


                <p style="color:#333">
                    Alla uppdrag utförs i enlighet med Nordiska Speditörsförbundets Allmänna Bestämmelser (NSAB 2015). Bestämmelserna begränsar speditörens ansvar som kontraktspart i avtalet enligt §3 B för förlust, försämring eller skada av/på gods till SDR 8,33 per kilo vid försening upp till fraktens belopp och för alla andra förluster till SDR 100 000 för varje uppdrag (§21). Speditörens ansvar som mellanhand enligt § 3 C är begränsad till SDR 50 000 för varje uppdrag och totalt för en och samma händelse till SDR 500 000 (§24).

                    Vid lagring är speditörens samlade ansvar för skada vid ett och samma tillfälle begränsat till SDR 500 000 (§25)

                    Särskild uppmärksamhet riktas mot nätverksklausulen (§2), krav mot speditören preskriberas efter ett år (§28) och att panträtten (§14) omfattar såväl aktuella som tidigare krav.
                </p>
            }
            else
            {
                <h2 style="color:#333">We operate under NSAB 2015</h2>

                <p style="color:#333">
                    All assignments are carried out in accordance with the General Conditions of the Nordic Association of Freight Forwarders (NSAB 2015). The conditions limit the forwarder's liability as a contracting party in the agreement according to §3 B for loss, deterioration, or damage to/from goods to SDR 8.33 per kilogram in case of delay up to the amount of the freight and for all other losses to SDR 100,000 for each assignment (§21). The forwarder's liability as an intermediary according to §3 C is limited to SDR 50,000 for each assignment and a total of SDR 500,000 for the same event (§24).

                    In the case of storage, the forwarder's overall liability for damage at one and the same occasion is limited to SDR 500,000 (§25).

                    Special attention is drawn to the network clause (§2), claims against the forwarder are time-barred after one year (§28), and the right of lien (§14) covers both current and previous claims.
                </p>


            }
        </div>

    </div>
</div>
<div style="margin-bottom:200px" class="mr-inco" id="nsab">
    <div class="incoterms-header">
        <h3 style="margin-top:5px">INCOTERMS</h3>
    </div>




    <div class="inco-icons">
        <div class="incoterms-list">
            <div>INCOTERMS</div>
            <div class="incoterm-row">
                <div class="ino-block">EXW</div>
                <div class="ino-field"><p style="margin-top:5px">EX WORKS <i class="fa-light fa-diamond-exclamation small-icon"></i>             AGREED PLACE   </p> </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">EXW</div>
                <div class="ino-field-2"><p style="margin-top:5px;margin-left:7px">FREE CARRIER<i class="fa-light fa-diamond-exclamation small-icon-2"></i>             AGREED PLACE   </p> </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">FAS</div>
                <div class="ino-field-3"><p style="margin-top:5px;margin-left:7px">FREE ALONGSIDE SHIP<i class="fa-light fa-diamond-exclamation small-icon-3"></i>      </p>        <p style="margin-left:100px">PORT OF LOADING</p>  </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">FOB</div>
                <div class="ino-field-4"><p style="margin-top:5px;margin-left:7px">FREE ONBOARD<i class="fa-light fa-diamond-exclamation small-icon-4"></i>               </p> <p style="margin-left:100px">PORT OF LOADING</p>  </div>
            </div>


            <div class="incoterm-row">
                <div class="ino-block">CFR</div>
                <div class="ino-field-12"><p style="margin-top:5px;margin-left:7px">COST & FREIGHT<i class="fa-light fa-diamond-exclamation small-icon-4"></i>               </p> <p style="margin-left:300px">PORT OF DESTINATION</p>  </div>
            </div>


            <div class="incoterm-row">
                <div class="ino-block">CIF</div>
                <div class="ino-field-12"><p style="margin-top:5px;margin-left:7px">COST, INSURANCE & FREIGHT<i class="fa-light fa-diamond-exclamation small-icon-5"></i>               </p> <p style="margin-left:300px">PORT OF DESTINATION</p>  </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">CPT</div>
                <div class="ino-field-5"><i class="fa-light fa-diamond-exclamation small-icon-6"></i> <p>COST, INSURANCE & FREIGHT              </p> <p style="margin-left:375px;">PLACE OF DESTINATION</p>  </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">CIP</div>
                <div class="ino-field-5"><i class="fa-light fa-diamond-exclamation small-icon-6"></i> <p>CARRIER & INSURANCE PAID TO              </p> <p style="margin-left:375px;">PLACE OF DESTINATION</p>  </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">DPU</div>
                <div class="ino-field-5"><i class="fa-light fa-diamond-exclamation small-icon-7"></i> <p>DELIVERED AT PLACE UNLOADED             </p> <p style="margin-left:570px;">PLACE OF DESTINATION</p>  </div>
            </div>
            <div class="incoterm-row">
                <div class="ino-block">DAP</div>
                <div class="ino-field-6"><i class="fa-light fa-diamond-exclamation small-icon-8"></i> <p>DELIVERED AT PLACE           </p> <p style="margin-left:750px;">DESTINATION</p>  </div>
            </div>


            <div class="incoterm-row">
                <div class="ino-block">DDP</div>
                <div class="ino-field-6"><i class="fa-light fa-diamond-exclamation small-icon-8"></i> <p>DELIVERED DUTY PAID           </p> <p style="margin-left:750px;">DESTINATION</p>  </div>
            </div>
        </div>
        <div class="icon-group">
            <i class="fa-thin fa-truck-ramp-box card-icon-2"></i>
            <p>SELLER</p>
        </div>
        <div class="icon-group">
            <i class="fa-sharp fa-thin fa-truck card-icon-2"></i>
            <p>FIRST<br />CARRIER</p>
        </div>
        <div class="icon-group">
            <i class="fa-thin fa-container-storage card-icon-2"></i>
            <p>ALONGSIDE<br />SHIP</p>
        </div>
        <div class="icon-group">
            <i class="fa-thin fa-up-down card-icon-2"></i>
            <p>LOADING<br />PORT</p>
        </div>
        <div class="icon-group no-line">
            <i class="fa-thin fa-ship card-icon-2"></i>
            <p>ON BOARD</p>
        </div>
        <div class="icon-group">
            <i class="fa-thin fa-up-down card-icon-2"></i>
            <p>DISCHARGE<br />PORT</p>
        </div>
        <div class="icon-group">
            <i class="fa-thin fa-container-storage card-icon-2"></i>
            <p>ALONGSIDE<br />SHIP</p>
        </div>
        <div class="icon-group">
            <i class="fa-sharp fa-thin fa-truck card-icon-2"></i>
            <p>CARRIER</p>
        </div>
        <div class="icon-group">
            <i class="fa-thin fa-warehouse card-icon-2"></i>
            <p>DELIVERY<br />AREA</p>
        </div>
        <div class="icon-group no-line">
            <i class="fa-thin fa-person-sign card-icon-2"></i>
            <p>BUYER</p>
        </div>
    </div>
    <div class="last">
        <div class="color-text-group">
            <div class="color-box" style="background-color: lightgray;"></div> <!-- Röd färgruta -->
            <p>SELLERS OBLIGATION</p>
        </div>
        <div class="color-text-group">
            <i class="fa-light fa-diamond-exclamation small-icon-11"></i>
            <p>TRANSFER OF RISK</p>
        </div>
        <div class="color-text-group">
            <div class="color-box" style="background-color: pink;"></div> <!-- Blå färgruta -->
            <p>BUYERS OBLIGATION</p>
        </div>
    </div>


</div>


