/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 35px;
}

.p-mail a {
    text-decoration: none; /* Ta bort understrykningen från länken */
    color: inherit; /* Behåll färgen från förälderelementet */
    font-size: 16px
}

.fa-github {
    color: #ff66b2; /* Grundfärg */
    transition: color 0.3s ease; /* Gör övergång mjuk över 0.3 sekunder */
}


.fa-linkedin {
    color: #ff66b2; /* Grundfärg */
    transition: color 0.3s ease;
}

.fa-facebook-f {
    color: #ff66b2; /* Grundfärg */
    transition: color 0.3s ease;
}

.fa-linkedin:hover {
    color: pink;
}

.fa-facebook-f:hover {
    color: pink;
}

.fa-github:hover {
    color: pink;
}

.kite {
    font-size: 18px;
    color: white;
}


.fot {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.mr-arts-2 {
    background-image: url('/images/joel.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.fot-1 {
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .kite {
        font-size: 18px;
        color: white;
    }


    .fot {
        display: flex;
        gap: 7px;
    }

    .mr-arts-2 {
        display: none
    }
}
