/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



.p-mail a {
    text-decoration: none; /* Ta bort understrykningen från länken */
    color: inherit; /* Behåll färgen från förälderelementet */
    font-size: 16px
}

.fa-instagram {
    padding: 30px;
    transition: color 0.3s ease; /* Gör övergång mjuk över 0.3 sekunder */
}


.fa-linkedin {
    
    transition: color 0.3s ease;
    padding:30px;
}

.fa-facebook-f {
    padding: 30px;
    transition: color 0.3s ease;
}

.fa-linkedin:hover {
    color: pink;
}

.fa-facebook-f:hover {
    color: pink;
}

.fa-github:hover {
    color: pink;
}







.mr-arts-2 {
    background-image: url('/images/joel.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}


