@page
@model MasterArtsWeb.Pages.UpsApi.upsModel
@{
}

@using System.Globalization



<div class="lemon-2 contact adjusted-anchor-2" id="contact-id">

   UPS COURIER

</div>
<div class="language-toggle text-end index-lang" style="display:none">
    <button id="languageToggleBtn" class="l-btn" onclick="toggleLanguage()">Svenska</button>
</div>
<div class="ban">
    <a href="/LogisticsCenter/ShipmentCalculator#contact-id" class="cta-button">Back</a>
</div>
<div class="master-master shipping-cost-calculator">
    <h3 id="resultSection"></h3>

    @if (Model.Response?.Details != null)
    {
        <div class="response-container">

            @if (Model.Response.Details.RatedShipment != null)
            {
                // Parsing the original charge
                decimal originalCharge = decimal.Parse(Model.Response.Details.RatedShipment.TotalCharges.MonetaryValue, CultureInfo.InvariantCulture);
                decimal chargeWithTax = originalCharge * 1.80m; // Adding 80%
                string formattedChargeWithTax = chargeWithTax.ToString("F2"); // Format to two decimal places

                <div class="total-charges">
                    <p>Total Charges (excluding VAT and taxes): <span class="charge">@formattedChargeWithTax</span> <span class="currency">@Model.Response.Details.RatedShipment.TotalCharges.CurrencyCode</span></p>
                </div>


            }
        </div>
    }

<form method="post" class="shipper-info-form">
   <h2 class="section-heading">Shipper</h2>
    <div class="hidden-customer-context">
        <label for="customerContext">Customer Context:</label>
        <input type="text" id="customerContext" name="RateRequest.Request.TransactionReference.CustomerContext" value="RandomText123" class="input-customer-context" />
    </div>

    <div class="field-group shipper-name">
        <label>Name:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Name" class="input-shipper-name" />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Name" class="error-message"></span>
    </div>
    <div class="field-group shipper-address">
        <label>Address Line 1:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.AddressLine[0]" class="input-address-line1" />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.AddressLine[0]" class="error-message"></span>
        <label>Address Line 2:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.AddressLine[1]" class="input-address-line2" />
        <label>Address Line 3:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.AddressLine[2]" class="input-address-line3" />
    </div>
    <div class="field-group shipper-city">
        <label>City:</label>
        <input type="text" asp-for="RateRequest.Shipment.Shipper.Address.City" class="input-city" />
        <span asp-validation-for="RateRequest.Shipment.Shipper.Address.City" class="error-message"></span>
    </div>
   <div class="field-group shipper-postal-code">
    <label for="shipperPostalCode">Shipper Postal Code:</label>
    <input type="text" id="shipperPostalCode" name="RateRequest.Shipment.Shipper.Address.PostalCode" class="input-postal-code" pattern="\d*" title="Please enter numbers only, without any spaces or letters.">
    <span asp-validation-for="RateRequest.Shipment.Shipper.Address.PostalCode" class="error-message"></span>
</div>

  <div class="field-group shipper-country-code">
    <label for="shipToCountryCode">Country:</label>
   <select id="shipToCountryCode" name="RateRequest.Shipment.Shipper.Address.CountryCode" class="input-country-code select2" required>
        <option value="">Select a country</option>
        
    <option value="AF">Afghanistan</option>
    <option value="AX">Åland Islands</option>
    <option value="AL">Albania </option>
    <option value="DZ">Algeria</option>
    <option value="AS">American Samoa</option>
    <option value="AD">Andorra </option>
    <option value="AO">Angola </option>
    <option value="AI">Anguilla</option>
    <option value="AQ">Antarctica</option>
    <option value="AG">Antigua and Barbuda (AG)</option>
    <option value="AR">Argentina (AR)</option>
    <option value="AM">Armenia (AM)</option>
    <option value="AW">Aruba (AW)</option>
    <option value="AU">Australia (AU)</option>
    <option value="AT">Austria (AT)</option>
    <option value="AZ">Azerbaijan (AZ)</option>
    <option value="BS">Bahamas (BS)</option>
    <option value="BH">Bahrain (BH)</option>
    <option value="BD">Bangladesh (BD)</option>
    <option value="BB">Barbados (BB)</option>
    <option value="BY">Belarus (BY)</option>
    <option value="BE">Belgium (BE)</option>
    <option value="BZ">Belize (BZ)</option>
    <option value="BJ">Benin (BJ)</option>
    <option value="BM">Bermuda (BM)</option>
    <option value="BT">Bhutan (BT)</option>
    <option value="BO">Bolivia (BO)</option>
    <option value="BQ">Bonaire, Sint Eustatius and Saba (BQ)</option>
    <option value="BA">Bosnia and Herzegovina (BA)</option>
    <option value="BW">Botswana (BW)</option>
    <option value="BV">Bouvet Island (BV)</option>
    <option value="BR">Brazil (BR)</option>
    <option value="IO">British Indian Ocean Territory (IO)</option>
    <option value="BN">Brunei Darussalam (BN)</option>
    <option value="BG">Bulgaria (BG)</option>
    <option value="BF">Burkina Faso (BF)</option>
    <option value="BI">Burundi (BI)</option>
    <option value="DK">Denmark</option>
    <option value="DJ">Djibouti</option>
    <option value="DM">Dominica</option>
    <option value="DO">Dominican Republic</option>
    <option value="EC">Ecuador</option>
    <option value="EG">Egypt</option>
    <option value="SV">El Salvador</option>
    <option value="GQ">Equatorial Guinea</option>
    <option value="ER">Eritrea</option>
    <option value="EE">Estonia</option>
    <option value="ET">Ethiopia</option>
     <option value="FJ">Fiji</option>
    <option value="FI">Finland</option>
    <option value="FR">France</option>
    <option value="GA">Gabon</option>
    <option value="GM">Gambia</option>
    <option value="GE">Georgia</option>
    <option value="DE">Germany</option>
    <option value="GH">Ghana</option>
    <option value="GI">Gibraltar</option>
    <option value="GR">Greece</option>
    <option value="GL">Greenland</option>
    <option value="GD">Grenada</option>
    <option value="GP">Guadeloupe</option>
    <option value="GU">Guam</option>
    <option value="GT">Guatemala</option>
    <option value="GG">Guernsey</option>
    <option value="GN">Guinea</option>
    <option value="GW">Guinea-Bissau</option>
    <option value="GY">Guyana</option>
    <option value="HT">Haiti</option>
    <option value="HN">Honduras</option>
    <option value="HK">Hong Kong</option>
    <option value="HU">Hungary</option>
     <option value="IS">Iceland</option>
    <option value="IN">India</option>
    <option value="ID">Indonesia</option>
    <option value="IR">Iran</option>
    <option value="IQ">Iraq</option>
    <option value="IE">Ireland</option>
    <option value="IM">Isle of Man</option>
    <option value="IL">Israel</option>
    <option value="IT">Italy</option>
    <option value="CI">Ivory Coast</option>
    <option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="KI">Kiribati</option>
<option value="KP">North Korea</option>
<option value="KR">South Korea</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>

<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>

<option value="MO">Macau</option>
<option value="MK">North Macedonia</option>
<option value="MG">Madagascar</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="YT">Mayotte</option>
<option value="MX">Mexico</option>
<option value="FM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="ME">Montenegro</option>
<option value="MS">Montserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>

<option value="NA">Namibia</option>
<option value="NR">Nauru</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="NC">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="NU">Niue</option>
<option value="NF">Norfolk Island</option>
<option value="NO">Norway</option>

<option value="OM">Oman</option>

<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PS">Palestine</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PN">Pitcairn Islands</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>

<option value="QA">Qatar</option>

<option value="RE">Réunion</option>
<option value="RO">Romania</option>
<option value="RU">Russia</option>
<option value="RW">Rwanda</option>

<option value="BL">Saint Barthélemy</option>
<option value="SH">Saint Helena</option>
<option value="KN">Saint Kitts and Nevis</option>
<option value="LC">Saint Lucia</option>
<option value="MF">Saint Martin</option>
<option value="PM">Saint Pierre and Miquelon</option>
<option value="VC">Saint Vincent and the Grenadines</option>
<option value="WS">Samoa</option>
<option value="SM">San Marino</option>
<option value="ST">São Tomé and Príncipe</option>
<option value="SA">Saudi Arabia</option>
<option value="SN">Senegal</option>
<option value="RS">Serbia</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore</option>
<option value="SX">Sint Maarten</option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="SB">Solomon Islands</option>
<option value="SO">Somalia</option>
<option value="ZA">South Africa</option>
<option value="GS">South Georgia & South Sandwich Islands</option>
<option value="SS">South Sudan</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SJ">Svalbard and Jan Mayen</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syria</option>

<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TL">Timor-Leste</option>
<option value="TG">Togo</option>
<option value="TK">Tokelau</option>
<option value="TO">Tonga</option>
<option value="TT">Trinidad and Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks and Caicos Islands</option>
<option value="TV">Tuvalu</option>

<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="AE">United Arab Emirates</option>
<option value="GB">United Kingdom</option>
<option value="US">United States</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>

<option value="VU">Vanuatu</option>
<option value="VE">Venezuela</option>
<option value="VN">Vietnam</option>

<option value="WF">Wallis and Futuna</option>

<option value="EH">Western Sahara</option>

<option value="YE">Yemen</option>

<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>

    </select>
    <span asp-validation-for="RateRequest.Shipment.Shipper.Address.CountryCode" class="error-message"></span>
</div>
     <h2 class="section-heading">Ship To</h2>
    <div class="field-group shipper-name">
        <label>Name:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Name" class="input-shipper-name" />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Name" class="error-message"></span>
    </div>
    <div class="field-group shipper-address">
        <label>Address Line 1:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.AddressLine[0]" class="input-address-line1" />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.AddressLine[0]" class="error-message"></span>
        <label>Address Line 2:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.AddressLine[1]" class="input-address-line2" />
        <label>Address Line 3:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.AddressLine[2]" class="input-address-line3" />
    </div>
    <div class="field-group shipper-city">
        <label>City:</label>
        <input type="text" asp-for="RateRequest.Shipment.ShipTo.Address.City" class="input-city" />
        <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.City" class="error-message"></span>
    </div>
   <div class="field-group receiver-postal-code">
    <label for="receiverPostalCode">Receiver Postal Code:</label>
    <input type="text" id="receiverPostalCode" name="RateRequest.Shipment.ShipTo.Address.PostalCode" class="input-postal-code" pattern="\d*" title="Please enter numbers only, without any spaces or letters.">
    <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.PostalCode" class="error-message"></span>
</div>
    <div class="field-group shipper-country-code">
    <label for="shipToCountryCode">Country:</label>
   <select id="shipToCountryCode" name="RateRequest.Shipment.ShipTo.Address.CountryCode" class="input-country-code select2" required>
        <option value="">Select a country</option>
    <option value="AF">Afghanistan (AF)</option>
    <option value="AX">Åland Islands (AX)</option>
    <option value="AL">Albania (AL)</option>
    <option value="DZ">Algeria (DZ)</option>
    <option value="AS">American Samoa (AS)</option>
    <option value="AD">Andorra (AD)</option>
    <option value="AO">Angola (AO)</option>
    <option value="AI">Anguilla (AI)</option>
    <option value="AQ">Antarctica (AQ)</option>
    <option value="AG">Antigua and Barbuda (AG)</option>
    <option value="AR">Argentina (AR)</option>
    <option value="AM">Armenia (AM)</option>
    <option value="AW">Aruba (AW)</option>
    <option value="AU">Australia (AU)</option>
    <option value="AT">Austria (AT)</option>
    <option value="AZ">Azerbaijan (AZ)</option>
    <option value="BS">Bahamas (BS)</option>
    <option value="BH">Bahrain (BH)</option>
    <option value="BD">Bangladesh (BD)</option>
    <option value="BB">Barbados (BB)</option>
    <option value="BY">Belarus (BY)</option>
    <option value="BE">Belgium (BE)</option>
    <option value="BZ">Belize (BZ)</option>
    <option value="BJ">Benin (BJ)</option>
    <option value="BM">Bermuda (BM)</option>
    <option value="BT">Bhutan (BT)</option>
    <option value="BO">Bolivia (BO)</option>
    <option value="BQ">Bonaire, Sint Eustatius and Saba (BQ)</option>
    <option value="BA">Bosnia and Herzegovina (BA)</option>
    <option value="BW">Botswana (BW)</option>
    <option value="BV">Bouvet Island (BV)</option>
    <option value="BR">Brazil (BR)</option>
    <option value="IO">British Indian Ocean Territory (IO)</option>
    <option value="BN">Brunei Darussalam (BN)</option>
    <option value="BG">Bulgaria (BG)</option>
    <option value="BF">Burkina Faso (BF)</option>
    <option value="BI">Burundi (BI)</option>
    <option value="DK">Denmark</option>
    <option value="DJ">Djibouti</option>
    <option value="DM">Dominica</option>
    <option value="DO">Dominican Republic</option>
    <option value="EC">Ecuador</option>
    <option value="EG">Egypt</option>
    <option value="SV">El Salvador</option>
    <option value="GQ">Equatorial Guinea</option>
    <option value="ER">Eritrea</option>
    <option value="EE">Estonia</option>
    <option value="ET">Ethiopia</option>
     <option value="FJ">Fiji</option>
    <option value="FI">Finland</option>
    <option value="FR">France</option>
    <option value="GA">Gabon</option>
    <option value="GM">Gambia</option>
    <option value="GE">Georgia</option>
    <option value="DE">Germany</option>
    <option value="GH">Ghana</option>
    <option value="GI">Gibraltar</option>
    <option value="GR">Greece</option>
    <option value="GL">Greenland</option>
    <option value="GD">Grenada</option>
    <option value="GP">Guadeloupe</option>
    <option value="GU">Guam</option>
    <option value="GT">Guatemala</option>
    <option value="GG">Guernsey</option>
    <option value="GN">Guinea</option>
    <option value="GW">Guinea-Bissau</option>
    <option value="GY">Guyana</option>
    <option value="HT">Haiti</option>
    <option value="HN">Honduras</option>
    <option value="HK">Hong Kong</option>
    <option value="HU">Hungary</option>
     <option value="IS">Iceland</option>
    <option value="IN">India</option>
    <option value="ID">Indonesia</option>
    <option value="IR">Iran</option>
    <option value="IQ">Iraq</option>
    <option value="IE">Ireland</option>
    <option value="IM">Isle of Man</option>
    <option value="IL">Israel</option>
    <option value="IT">Italy</option>
    <option value="CI">Ivory Coast</option>
    <option value="JM">Jamaica</option>
<option value="JP">Japan</option>
<option value="JO">Jordan</option>
<option value="JE">Jersey</option>
<option value="JG">Juan de Nova Island</option>
<option value="KZ">Kazakhstan</option>
<option value="KE">Kenya</option>
<option value="KI">Kiribati</option>
<option value="KP">North Korea</option>
<option value="KR">South Korea</option>
<option value="KW">Kuwait</option>
<option value="KG">Kyrgyzstan</option>

<option value="LA">Laos</option>
<option value="LV">Latvia</option>
<option value="LB">Lebanon</option>
<option value="LS">Lesotho</option>
<option value="LR">Liberia</option>
<option value="LY">Libya</option>
<option value="LI">Liechtenstein</option>
<option value="LT">Lithuania</option>
<option value="LU">Luxembourg</option>

<option value="MO">Macau</option>
<option value="MK">North Macedonia</option>
<option value="MG">Madagascar</option>
<option value="MW">Malawi</option>
<option value="MY">Malaysia</option>
<option value="MV">Maldives</option>
<option value="ML">Mali</option>
<option value="MT">Malta</option>
<option value="MH">Marshall Islands</option>
<option value="MQ">Martinique</option>
<option value="MR">Mauritania</option>
<option value="MU">Mauritius</option>
<option value="YT">Mayotte</option>
<option value="MX">Mexico</option>
<option value="FM">Micronesia</option>
<option value="MD">Moldova</option>
<option value="MC">Monaco</option>
<option value="MN">Mongolia</option>
<option value="ME">Montenegro</option>
<option value="MS">Montserrat</option>
<option value="MA">Morocco</option>
<option value="MZ">Mozambique</option>
<option value="MM">Myanmar</option>

<option value="NA">Namibia</option>
<option value="NR">Nauru</option>
<option value="NP">Nepal</option>
<option value="NL">Netherlands</option>
<option value="NC">New Caledonia</option>
<option value="NZ">New Zealand</option>
<option value="NI">Nicaragua</option>
<option value="NE">Niger</option>
<option value="NG">Nigeria</option>
<option value="NU">Niue</option>
<option value="NF">Norfolk Island</option>
<option value="NO">Norway</option>

<option value="OM">Oman</option>

<option value="PK">Pakistan</option>
<option value="PW">Palau</option>
<option value="PS">Palestine</option>
<option value="PA">Panama</option>
<option value="PG">Papua New Guinea</option>
<option value="PY">Paraguay</option>
<option value="PE">Peru</option>
<option value="PH">Philippines</option>
<option value="PN">Pitcairn Islands</option>
<option value="PL">Poland</option>
<option value="PT">Portugal</option>

<option value="QA">Qatar</option>

<option value="RE">Réunion</option>
<option value="RO">Romania</option>
<option value="RU">Russia</option>
<option value="RW">Rwanda</option>

<option value="BL">Saint Barthélemy</option>
<option value="SH">Saint Helena</option>
<option value="KN">Saint Kitts and Nevis</option>
<option value="LC">Saint Lucia</option>
<option value="MF">Saint Martin</option>
<option value="PM">Saint Pierre and Miquelon</option>
<option value="VC">Saint Vincent and the Grenadines</option>
<option value="WS">Samoa</option>
<option value="SM">San Marino</option>
<option value="ST">São Tomé and Príncipe</option>
<option value="SA">Saudi Arabia</option>
<option value="SN">Senegal</option>
<option value="RS">Serbia</option>
<option value="SC">Seychelles</option>
<option value="SL">Sierra Leone</option>
<option value="SG">Singapore</option>
<option value="SX">Sint Maarten</option>
<option value="SK">Slovakia</option>
<option value="SI">Slovenia</option>
<option value="SB">Solomon Islands</option>
<option value="SO">Somalia</option>
<option value="ZA">South Africa</option>
<option value="GS">South Georgia & South Sandwich Islands</option>
<option value="SS">South Sudan</option>
<option value="ES">Spain</option>
<option value="LK">Sri Lanka</option>
<option value="SD">Sudan</option>
<option value="SR">Suriname</option>
<option value="SJ">Svalbard and Jan Mayen</option>
<option value="SZ">Swaziland</option>
<option value="SE">Sweden</option>
<option value="CH">Switzerland</option>
<option value="SY">Syria</option>

<option value="TW">Taiwan</option>
<option value="TJ">Tajikistan</option>
<option value="TZ">Tanzania</option>
<option value="TH">Thailand</option>
<option value="TL">Timor-Leste</option>
<option value="TG">Togo</option>
<option value="TK">Tokelau</option>
<option value="TO">Tonga</option>
<option value="TT">Trinidad and Tobago</option>
<option value="TN">Tunisia</option>
<option value="TR">Turkey</option>
<option value="TM">Turkmenistan</option>
<option value="TC">Turks and Caicos Islands</option>
<option value="TV">Tuvalu</option>

<option value="UG">Uganda</option>
<option value="UA">Ukraine</option>
<option value="AE">United Arab Emirates</option>
<option value="GB">United Kingdom</option>
<option value="US">United States</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>

<option value="VU">Vanuatu</option>
<option value="VE">Venezuela</option>
<option value="VN">Vietnam</option>

<option value="WF">Wallis and Futuna</option>

<option value="EH">Western Sahara</option>

<option value="YE">Yemen</option>

<option value="ZM">Zambia</option>
<option value="ZW">Zimbabwe</option>



    </select>
    <span asp-validation-for="RateRequest.Shipment.ShipTo.Address.CountryCode" class="error-message"></span>
</div>
 
    <div class="field-group service-code">
        <label>Service Code:</label>
        <select asp-for="RateRequest.Shipment.Service.Code" class="select-service-code">
           
            
            <option value="07">Worldwide Express</option>
            <option value="08">Worldwide Expedited</option>
            <option value="11">Standard</option>
            <option value="54">Worldwide Express Plus</option>
            <option value="65">Saver</option>
           
        </select>
    </div>
   
        <h2 class="section-heading">Package Details</h2>

<div class="field-group packaging-type">
    <label>Packaging Type:</label>
    <select asp-for="RateRequest.Shipment.Package.PackagingType.Code" class="select-packaging-type">
       
        <option value="02">Package</option>
       
    </select>
</div>

<div class="field-group package-dimensions">
        <label asp-for="RateRequest.Shipment.Package.PackageWeight.Weight">Weight</label>
     <input type="number" asp-for="RateRequest.Shipment.Package.PackageWeight.Weight"/>
    <span asp-validation-for="RateRequest.Shipment.Package.PackageWeight.Weight" class="error-message"></span>

        <label asp-for="RateRequest.Shipment.NumOfPieces">Pieces</label>
     <input type="number" asp-for="RateRequest.Shipment.NumOfPieces" />
  <span asp-validation-for="RateRequest.Shipment.NumOfPieces" class="error-message"></span>

    <label>Length (CM):</label>
    <input type="number" asp-for="RateRequest.Shipment.Package.Dimensions.Length" class="input-length" />
    <span asp-validation-for="RateRequest.Shipment.Package.Dimensions.Length" class="error-message"></span>
    <label>Width (CM):</label>
    <input type="number" asp-for="RateRequest.Shipment.Package.Dimensions.Width" class="input-width" />
    <span asp-validation-for="RateRequest.Shipment.Package.Dimensions.Width" class="error-message"></span>
    <label>Height (CM):</label>
    <input type="number" asp-for="RateRequest.Shipment.Package.Dimensions.Height" class="input-height"/>
    <span asp-validation-for="RateRequest.Shipment.Package.Dimensions.Height" class="error-message"></span>
</div>


<div class="submit-button-container">
    <button type="submit" class="submit-rate-request">Submit Rate Request</button>
</div>
</form>














    @section Scripts {
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                var postalCodeInputs = document.querySelectorAll('.input-postal-code');
                postalCodeInputs.forEach(function (input) {
                    input.addEventListener('input', function () {
                        // Replace non-digit characters with an empty string
                        this.value = this.value.replace(/\D/g, '');
                    });
                });
            });

            $(document).ready(function () {
                // Iterera över varje p-element inuti din div och lägg till fade-in-klassen med en fördröjning
                $('.shipping-cost-calculator div p').each(function (i) {
                    $(this).css('animation-delay', `${i * 0.2}s`); // 0.1s fördröjning mellan varje rad
                    $(this).addClass('fade-in');
                });
            });

            function startLoginProcess() {
                document.getElementById('loadingSpinner').style.display = 'block';
                document.getElementById('loadingSpinner2').style.display = 'block';
                // Antag att `login` är funktionen som hanterar inloggningsprocessen.
                login().then(() => {
                    document.getElementById('loadingSpinner').style.display = 'none';
                });
            }

            window.onload = function () {
                var resultSection = document.getElementById('resultSection');
                if (resultSection) {
                    resultSection.scrollIntoView({ behavior: 'smooth' });
                }
            };



            $(document).ready(function () {
                $('.select2').select2({
                    placeholder: "Select a country",
                    allowClear: true
                });
            });



        </script>
    }
