@page
@model MasterArtsWeb.Pages.UpsApi.UpsRatesModel
@{
}
<h1>UPS Shipping Rate Request</h1>


<h2>UPS API Access Token Test</h2>

@if (!string.IsNullOrEmpty(Model.ApiResponse))
{
    <p>API Response: @Model.ApiResponse</p>
}



<form method="post">
    <!-- Shipper details -->
    <h2>Shipper Details</h2>
    <input type="text" asp-for="RateRequest.Shipper.Name" placeholder="Shipper Name">
    <input type="text" asp-for="RateRequest.Shipper.ShipperNumber" placeholder="Shipper Number">
    <!-- Addresse Line -->
    <h3>Address</h3>
    <input type="text" asp-for="RateRequest.Shipper.Address.AddressLine[0]" placeholder="Address Line 1">
    <input type="text" asp-for="RateRequest.Shipper.Address.AddressLine[1]" placeholder="Address Line 2">
    <input type="text" asp-for="RateRequest.Shipper.Address.AddressLine[2]" placeholder="Address Line 3">
    <input type="text" asp-for="RateRequest.Shipper.Address.City" placeholder="City">
    <input type="text" asp-for="RateRequest.Shipper.Address.StateProvinceCode" placeholder="State/Province Code">
    <input type="text" asp-for="RateRequest.Shipper.Address.PostalCode" placeholder="Postal Code">
    <input type="text" asp-for="RateRequest.Shipper.Address.CountryCode" placeholder="Country Code">
    <!-- ShipTo details -->
    <h2>ShipTo Details</h2>
    <input type="text" asp-for="RateRequest.ShipTo.Name" placeholder="ShipTo Name">
    <!-- Addresse Line -->
    <h3>Address</h3>
    <input type="text" asp-for="RateRequest.ShipTo.Address.AddressLine[0]" placeholder="Address Line 1">
    <input type="text" asp-for="RateRequest.ShipTo.Address.AddressLine[1]" placeholder="Address Line 2">
    <input type="text" asp-for="RateRequest.ShipTo.Address.AddressLine[2]" placeholder="Address Line 3">
    <input type="text" asp-for="RateRequest.ShipTo.Address.City" placeholder="City">
    <input type="text" asp-for="RateRequest.ShipTo.Address.StateProvinceCode" placeholder="State/Province Code">
    <input type="text" asp-for="RateRequest.ShipTo.Address.PostalCode" placeholder="Postal Code">
    <input type="text" asp-for="RateRequest.ShipTo.Address.CountryCode" placeholder="Country Code">
    <!-- ShipFrom details -->
    <h2>ShipFrom Details</h2>
    <input type="text" asp-for="RateRequest.ShipFrom.Name" placeholder="ShipFrom Name">
    <!-- Addresse Line -->
    <h3>Address</h3>
    <input type="text" asp-for="RateRequest.ShipFrom.Address.AddressLine[0]" placeholder="Address Line 1">
    <input type="text" asp-for="RateRequest.ShipFrom.Address.AddressLine[1]" placeholder="Address Line 2">
    <input type="text" asp-for="RateRequest.ShipFrom.Address.AddressLine[2]" placeholder="Address Line 3">
    <input type="text" asp-for="RateRequest.ShipFrom.Address.City" placeholder="City">
    <input type="text" asp-for="RateRequest.ShipFrom.Address.StateProvinceCode" placeholder="State/Province Code">
    <input type="text" asp-for="RateRequest.ShipFrom.Address.PostalCode" placeholder="Postal Code">
    <input type="text" asp-for="RateRequest.ShipFrom.Address.CountryCode" placeholder="Country Code">
    <!-- Package details -->
    <h2>Package Details</h2>
    
    <select asp-for="RateRequest.Package.PackagingType.Code" required>
        <option value="">Select Packaging Type</option>
        <option value="01">UPS Letter</option>
        <option value="02">Package</option>
        <option value="03">UPS Tube</option>
    </select>

    <input type="text" asp-for="RateRequest.NumOfPieces" placeholder="Number of Pieces">
    <input type="text" asp-for="RateRequest.Package.PackageWeight.Weight" placeholder="Package Weight (lbs)">
    <input type="text" asp-for="RateRequest.Package.Dimensions.Length" placeholder="Length (in)">
    <input type="text" asp-for="RateRequest.Package.Dimensions.Width" placeholder="Width (in)">
    <input type="text" asp-for="RateRequest.Package.Dimensions.Height" placeholder="Height (in)">
    <!-- Service Code -->
    <h2>Service Details</h2>
    <select asp-for="RateRequest.Service.Code" required>
        <option value="">Select Service Type</option>
        <option value="01">Next Day Air</option>
        <option value="02">2nd Day Air</option>
        <option value="03">Ground</option>
        <!-- Add more services as required -->
    </select>

    <!-- Submit button -->
    <button type="submit">Submit</button>
</form>

