@page
@using MasterArtsLibrary.Models;
@model MasterArtsWeb.Pages.Orders.CreateOrderModel;

<!-- CreateOrderModel.cshtml -->
@if (TempData["SuccessMessage"] != null)
{

    <div class="alert alert-success fade-message text-center" id="success-message" style="margin-top: 10px">@TempData["SuccessMessage"]</div>
}




<div class="form-style-10">
    <h1>Book your shipment now!<span></span></h1>
    <form method="post">
        <!-- Section 1: Kundordernummer och Orderreferens -->
        <div class="section"><span class="s-lol">1</span>Kundordernummer och Orderreferens</div>
        <div class="form-section">
            <div class="inner-wrap">
                <label asp-for="Order.CustomerOrderNumber">Kundordernummer</label>
                <input asp-for="Order.CustomerOrderNumber" class="form-control" required />
                <span asp-validation-for="Order.CustomerOrderNumber" class="text-danger"></span>

                <label asp-for="Order.OrderReference">Orderreferens</label>
                <input asp-for="Order.OrderReference" class="form-control" />
                <span asp-validation-for="Order.OrderReference" class="text-danger"></span>
            </div>
        </div>
        <!-- Section 2: Kund -->
        <div class="section"><span class="s-lol">2</span>Kund</div>
        <div class="form-section">
            <div class="inner-wrap">
                <label asp-for="Order.Customer.Name">Kundens Namn</label>
                <input asp-for="Order.Customer.Name" class="form-control" required />
                <span asp-validation-for="Order.Customer.Name" class="text-danger"></span>

                <label>Address</label>
                <label asp-for="Order.Customer.Address.AddressLine1">Address Line 1</label>
                <input asp-for="Order.Customer.Address.AddressLine1" class="form-control" required />
                <span asp-validation-for="Order.Customer.Address.AddressLine1" class="text-danger"></span>
                <label asp-for="Order.Customer.Address.AddressLine2">Address Line 2</label>
                <input asp-for="Order.Customer.Address.AddressLine2" class="form-control" />
                <span asp-validation-for="Order.Customer.Address.AddressLine2" class="text-danger"></span>
                <label asp-for="Order.Customer.Address.PostalCode">Postal Code</label>
                <input asp-for="Order.Customer.Address.PostalCode" class="form-control" required />
                <span asp-validation-for="Order.Customer.Address.PostalCode" class="text-danger"></span>
                <label asp-for="Order.Customer.Address.City">City</label>
                <input asp-for="Order.Customer.Address.City" class="form-control" required />
                <span asp-validation-for="Order.Customer.Address.City" class="text-danger"></span>
                <label asp-for="Order.Customer.Address.Country">Country</label>
                <input asp-for="Order.Customer.Address.Country" class="form-control" required />
                <span asp-validation-for="Order.Customer.Address.Country" class="text-danger"></span>

                <label>Contact</label>
                <label asp-for="Order.Customer.Contact.Reference">Reference</label>
                <input asp-for="Order.Customer.Contact.Reference" class="form-control" required />
                <span asp-validation-for="Order.Customer.Contact.Reference" class="text-danger"></span>
                <label asp-for="Order.Customer.Contact.Telephone">Telephone</label>
                <input asp-for="Order.Customer.Contact.Telephone" class="form-control" required />
                <span asp-validation-for="Order.Customer.Contact.Telephone" class="text-danger"></span>
                <label asp-for="Order.Customer.Contact.Email">Email</label>
                <input asp-for="Order.Customer.Contact.Email" class="form-control" required />
                <span asp-validation-for="Order.Customer.Contact.Email" class="text-danger"></span>
                <label asp-for="Order.Customer.Contact.MobilePhone">Mobile Phone</label>
                <input asp-for="Order.Customer.Contact.MobilePhone" class="form-control" required />
                <span asp-validation-for="Order.Customer.Contact.MobilePhone" class="text-danger"></span>
            </div>
        </div>
        <!-- Section 3: Frakttjänst -->
        <div class="section"><span class="s-lol">3</span>Frakttjänst</div>
        <div class="form-section">
            <div class="inner-wrap">
                <label asp-for="Order.ShippingService.OceanFreight">Shipping Service</label>
                <select asp-for="Order.ShippingService.OceanFreight" asp-items="Html.GetEnumSelectList<ShippingServiceName>()" class="form-control" required>
                    <option value="">Choose a shipping service</option>
                </select>
                <span asp-validation-for="Order.ShippingService.OceanFreight" class="text-danger"></span>

                <label asp-for="Order.ShippingService.LoadingDate">Loading Date</label>
                <input asp-for="Order.ShippingService.LoadingDate" class="form-control" type="date" required />
                <span asp-validation-for="Order.ShippingService.LoadingDate" class="text-danger"></span>

                <label asp-for="Order.ShippingService.UnloadingDate">Unloading Date</label>
                <input asp-for="Order.ShippingService.UnloadingDate" class="form-control" type="date" required />
                <span asp-validation-for="Order.ShippingService.UnloadingDate" class="text-danger"></span>

                <label asp-for="Order.ShippingService.LoadingTimeWindow">Loading Time Window</label>
                <input asp-for="Order.ShippingService.LoadingTimeWindow" class="form-control" required />
                <span asp-validation-for="Order.ShippingService.LoadingTimeWindow" class="text-danger"></span>

                <label asp-for="Order.ShippingService.UnloadingTimeWindow">Unloading Time Window</label>
                <input asp-for="Order.ShippingService.UnloadingTimeWindow" class="form-control" required />
                <span asp-validation-for="Order.ShippingService.UnloadingTimeWindow" class="text-danger"></span>
            </div>
        </div>
        <!-- Section 4: Orderdetaljer -->
        <div class="section"><span class="s-lol">4</span>Orderdetaljer</div>
        <div class="form-section">
            <div class="inner-wrap">
                <label>Avsändarens Information</label>
                <label asp-for="Order.OrderDetails.Sender.Name">Name</label>
                <input asp-for="Order.OrderDetails.Sender.Name" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Name" class="text-danger"></span>

                <label>Adress</label>
                <label asp-for="Order.OrderDetails.Sender.Address.AddressLine1">Address Line 1</label>
                <input asp-for="Order.OrderDetails.Sender.Address.AddressLine1" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Address.AddressLine1" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Address.AddressLine2">Address Line 2</label>
                <input asp-for="Order.OrderDetails.Sender.Address.AddressLine2" class="form-control" />
                <span asp-validation-for="Order.OrderDetails.Sender.Address.AddressLine2" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Address.PostalCode">Postal Code</label>
                <input asp-for="Order.OrderDetails.Sender.Address.PostalCode" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Address.PostalCode" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Address.City">City</label>
                <input asp-for="Order.OrderDetails.Sender.Address.City" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Address.City" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Address.Country">Country</label>
                <input asp-for="Order.OrderDetails.Sender.Address.Country" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Address.Country" class="text-danger"></span>

                <label>Kontakt</label>
                <label asp-for="Order.OrderDetails.Sender.Contact.Reference">Reference</label>
                <input asp-for="Order.OrderDetails.Sender.Contact.Reference" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Contact.Reference" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Contact.Telephone">Telephone</label>
                <input asp-for="Order.OrderDetails.Sender.Contact.Telephone" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Contact.Telephone" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Contact.Email">Email</label>
                <input asp-for="Order.OrderDetails.Sender.Contact.Email" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Contact.Email" class="text-danger"></span>
                <label asp-for="Order.OrderDetails.Sender.Contact.MobilePhone">Mobile Phone</label>
                <input asp-for="Order.OrderDetails.Sender.Contact.MobilePhone" class="form-control" required />
                <span asp-validation-for="Order.OrderDetails.Sender.Contact.MobilePhone" class="text-danger"></span>

                <!-- Mottagarens fält här -->
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Order</button>
    </form>
</div>




<script>
    function toggleLanguage() {
        var toggleBtn = document.getElementById('languageToggleBtn');
        var contactForm = document.getElementById('contactForm');
        var contactFormSv = document.getElementById('contactFormSv');

        if (toggleBtn.innerText === 'Svenska') {
            toggleBtn.innerText = 'English';
            contactForm.style.display = 'none';
            contactFormSv.style.display = 'block';
        } else {
            toggleBtn.innerText = 'Svenska';
            contactForm.style.display = 'block';
            contactFormSv.style.display = 'none';
        }
    }


    setTimeout(function () {
        var successMessage = document.getElementById("success-message");
        successMessage.classList.remove("show");
    }, 5000);

    // Fade in the success message when the page is loaded
    window.addEventListener("load", function () {
        var successMessage = document.getElementById("success-message");
        successMessage.classList.add("show");
    });
    function checkHoneypot() {
        var honeypotField = document.getElementById("honeypot");
        if (honeypotField.value) {
            // Honeypot-fältet har fyllts i, antag att det är en robot
            alert("Form submission failed. Please try again.");
            return false;
        }
        return true;
    }

</script>